<div class="container">
    <div ng-controller='programChairController'>
        <header>
            <div class="primary_header">
                <h1 class="title" ng-model='name'>{{name}}</h1>
            </div>
            <nav class="secondary_header" id="menu">
                <ul>
                    <li><a href='' ng-show='displayHome()' ng-click='goHome()'>Home</a></li>
                    <li><a ng-href='#!/pcChangePassword'>Change Password</a></li>
                    <li><a ng-href='#!/createFacultyAdminAccount'>Add Faculty/Admin User</a></li>
                    <li><a ng-href='#!/editSchedule'>Edit Schedule</a></li>
                    <li><a ng-href='#!/classSummary'>View Class</a></li>
                    <li><a ng-href='#!/evaluationsPC'>Submit Student Evaluation</a></li>
                    <li><a ng-href='#!/viewApplicationsPC'>View Student Applications</a></li>
                    <li><a ng-href='#!/courseEdit'>Edit Courses</a></li>
                    <li><a href="#!/pcUpdateAllEnrollments">Update Enrollment</a></li>
                    <li><a href='' ng-show='displayLogout()' ng-click='logout()'>Logout</a></li>
                </ul>
            </nav>
        </header>
        <div class="form-appDeadline">
            <form>
                <fieldset>
                    <label><h2>Calls To Action</h2></label>
                    <h4>Notices</h4>
                    <pc-notice-directive id='pcNoticeCalls'></pc-notice-directive>
                    <h4>To-Do</h4>
                    <pc-actions-directive id='pcActions'></pc-actions-directive>
                </fieldset>
            </form>
            <form>
                <fieldset>
                    <!-- <label><h2>View Class</h2></label>
                    An asterisk denotes an online class<br><br>
                    <select ng-model='selectedClass' ng-options="class as class.class for class in classes" id="class" name="class" ng-change="go(selectedClass)"><option value="">Select Class</option></select> -->
                    <label><h2>Application Deadline</h2></label>
                    <label style='margin-right: 20px;'>Semester:</label><select ng-model="deadline.semester" ng-options="name for name in semesterNames" style='margin-right: 20px;' required></select>
                    <label style='margin-right: 20px;'>Date:</label><input type='date' ng-model='deadline.date' style='margin-right: 20px;'/>
                    <input type='button' value='Save Deadline' ng-click='saveDeadline()' style='margin-right: 20px;'/>{{deadlineMessage}}
                </fieldset>
            </form>
        </div><!--form-appDeadline-->
        <div class="form-uploadSchedule">
            <form enctype='multipart/form-data'>
                <fieldset>
                    <label><h2>Upload Schedule</h2></label>
                    <input type="text" id="schedule" ng-model='scheduleInput' style='margin-right: 10px;'>
                    <input type="file" name="sfile" id="schedfile" ng-model='scheduleFile' file-input='scheduleFile' onchange="angular.element(this).scope().scheduleFileNameChanged(this.files)" hidden/>
                    <label class='myButton' for="schedfile" ng-click='uploadErrorMessage = false' style='margin-right: 10px;'>Choose File</label>
                    <input type='button' ng-click='uploadSchedule()' value="Save Schedule"/>
                    <div ng-show='uploadErrorMessage' style='color:red;'>{{errorMessage}}<br><br></div>
                </fieldset>
            </form>
        </div>
    </div> <!--programChairController-->
</div><!--Container-->
