@charset "UTF-8";
.container {
    background-color: #FFFFFF;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.primary_header {
    width: 100%;
    background-color: BLACK;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 2px solid ;
}

.secondary_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondary_header li {
    width: 20%;
    background-color: #B3B3B3;
    float: left;
    float: left;
}

.secondary_header li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.secondary_header li a:hover {
    background: #1abc9c;
    color: white;
}

.container h3 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    color: #717070;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-weight: bold;
    font-style: normal;
    font-family: "Source Sans Pro";
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.form-changePassword {
    max-width:inherit;
    background: #f4f7f8;
    margin: auto;
    padding: 20px;
    background: #f4f7f8;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-changePassword fieldset{
    border: none;
}

.form-changePassword label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px; 
}

.form-changePassword input[type="button"] {
    position: relative;
    display: inline;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.form-changePassword input[type="button"]:hover {
    background: #109177;
}

.error {
    white-space: pre-line;
    margin-top: -20px;
    text-align: left;
    color: black;
}

.help img {
    position: relative;
    top: 5px;
}

.dropbtn {
    background-color: #B3B3B3;
    color: black;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 75px;    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    width: 90px;
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1abc9c;
    color: white;
}