@charset "utf-8";
/* CSS Document */

.container {
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;  
}

.studentEval {
    max-width: inherit;
    background: #f4f7f8;
    margin: auto;
    padding: 20px;
    background: #f4f7f8;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.studentEval select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    margin: 0;
    outline: 0;
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 25px;
    margin-top: 20px;
    display: block;
}

.required {
    color: red;
}

.studentEval textarea {
    display: block;
    width: 50%;
    height: 100px;
    box-sizing: border-box;
}

.studentEval input[type="button"] {
    position: relative;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.studentEval input[type="button"]:hover {
    background: #109177;
}

.primary_header {
    width: 100%;
    background-color: BLACK;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 2px solid;
    color: white;
    text-align: center; 
}

.secondary_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3B3B3;
}

.secondary_header li {
    float: left;
}

.secondary_header li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.secondary_header li a:hover {
    background: #1abc9c;
    color: white;
}