<div class="container">
    <div ng-controller='adminController'>
        <header>
            <div class="primary_header">
                <h1 class="title" ng-model='name'>{{name}}</h1>
            </div>
            <nav class="secondary_header" id="menu">
                <ul>
                    <li><a href='' ng-show='displayHome()' ng-click='goHome()'>Home</a></li>
                    <li><a ng-href='#!/pcChangePassword'>Change Password</a></li>
                    <li><a ng-href='#!/viewAppsAdmin'>View Student Applications</a></li>
                    <li><a href='' ng-show='displayLogout()' ng-click='logout()'>Logout</a></li>
                </ul>
            </nav>  
        </header>  
        <div class="form-changePassword" ng-controller='adminChangePasswordController'>
            <form>
                <fieldset>
                    <label><h2>Change Password</h2></label><br>
                    <div class="help">
                        <input type='checkbox' ng-model='changeOther' ng-true-value='1' ng-false-value='0' style='margin-right: 10px; margin-left:10px;' ng-change='passwordError=false'/>Change Other User Password<br><br>
                        <div ng-show='changeOther===1'><label style='margin-left: 10px;'>Users Asurite ID:</label><br><input type='text' ng-model='studentToChange' style='margin-left: 10px;'><br><br></div>
                        <div ng-show='changeOther===1'><input type='checkbox' ng-model='defaultPassword' ng-change='setDefaultPassword()' style='margin-right: 10px; margin-left:10px;'></input><checkboxlabel class='checkboxLabel'>Set Passwords to Default Password</checkboxlabel><br><br></div>
                        <div ng-hide='changeOther===1'><label style='margin-left: 10px;'>Current Password:</label><br><input type='password' ng-model='currentPassword' style='margin-left: 10px;'><br><br></div>
                        <label style='margin-left: 10px;'>New Password:<br></label><input type='password' ng-model='newPasswordOne' style='margin-left: 10px;'>
                        <img src="/assets/images/pwreq.png" alt="Req" style="width:20px;height:20px;" 
                            title='Password Requirements:
                            -8-20 Characters
                            -1 Lowercase Letter
                            -1 Uppercase Letter
                            -1 Special Character(#?!@$%^&*-)
                            -1 Number'/>
                        <br><br>
                        <label style='margin-left: 10px;'>Re-enter Password:<br></label><input type='password' ng-model='newPasswordTwo' style='margin-left: 10px;'><br><br>
                        <p style='margin-left: 10px; color:red;' ng-model='passwordErrorMessage' ng-show='passwordError' class='error'><br>{{passwordErrorMessage}}</p>
                        <p style='margin-left: 10px;' ng-model='passwordSuccessMessave' ng-show='passwordSuccess' class='error'><br>{{passwordSuccessMessage}}</p>
                        <input type='button' ng-hide='changeOther===1' ng-click='changePassword()' value='Change Your Password' style='margin-left: 10px;'/>
                        <input type='button' ng-show='changeOther===1' ng-click='changePassword(1)' value='Change User Password' style='margin-left: 10px;'/>
                        <br>
                    </div>
                </fieldset>
            </form> 
        </div>
    </div>
</div>