@charset "UTF-8";
.container {
    background-color: #FFFFFF;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.primary_header {
    width: 100%;
    background-color: BLACK;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 2px solid ;
}

.secondary_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3B3B3;
}

.secondary_header li {
    float: left;
}

.secondary_header li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.secondary_header li a:hover {
    background: #1abc9c;
    color: white;
}

.container h3 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    color: #717070;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-weight: bold;
    font-style: normal;
    font-family: "Source Sans Pro";
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.form-editSchedule {
    max-width:inherit;
    background: #f4f7f8;
    margin: auto;
    padding: 20px;
    background: #f4f7f8;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-editSchedule fieldset{
    border: none;
}

.form-editSchedule label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px; 
}

.form-editSchedule input[type="button"] {
    position: relative;
    display: inline;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.form-editSchedule input[type="button"]:hover {
    background: #109177;
}

.form-editSchedule select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 2px;
    width: 15%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}