<div class='form-employment' ng-controller='employmentInfoController'>
  <center>
      <a href='' ng-click='logout()'>Logout</a>
      <a ng-href='#!/studentHome'>Go Home</a> >>
      <a ng-href='#!/contactInfo'>Contact Info</a> >
      <a ng-href='#!/education'>Education</a> >
      <a ng-href='#!/employment' class="active">Employment</a> >
      <a ng-href='#!/availability'>Availability</a> >
      <a ng-href='#!/languages'>Languages</a> >
      <a ng-href='#!/courses'>Courses</a>
  </center><br><br>
  <fieldset>
    <legend><span class="number">1</span>Seeking Employment</legend>
    <label><strong>Available Max time commitment*</strong></label>
    <input type='radio' ng-model='hours' value='20 hours per week' ng-change='doHoursCheck()'>20 hours per week<br>
    <input type='radio' ng-model='hours' value='10 hours per week' ng-change='doHoursCheck()'>10 hours per week<br><br>
    <label><strong>Desired Position*</strong></label>
    <input type='checkbox' ng-model='ta' ng-checked='ta===1' ng-true-value='1' ng-false-value='0' ng-init='ta=0'>Teaching Assistant<br>
    <input type='checkbox' ng-model='grader' ng-checked='grader===1' ng-true-value='1' ng-false-value='0' ng-init='grader=0'>Grader<br><br>
    <label><strong>Have you worked for ASU before?</strong></label>
    <input type='radio' ng-model='hasWorked' ng-value=1>Yes<br>
    <input type='radio' ng-model='hasWorked' ng-value=0>No<br><br>
    <input ng-model='international' ng-true-value='1' ng-false-value='0' ng-init='international=0' type="checkbox" id="international-student" name="international-student" ng-change='doHoursCheck()'/> I'm an international student<br>
    <div ng-show="international===1">
      <label><strong>Speak Test/TOEFL Score*</strong></label><input ng-model='speakTest' type="text" class="hidden" id="speak-test" name="speak-test" placeholder="Type in your speak test score*"><br>
    </div>
  </fieldset>
  <!-- <fieldset>
    <legend><span class="number">2</span>Current Employment</legend>
		<label><strong>Current Employer:</strong></label>
    <input type='text' ng-model='employer'>
		<label><strong>Work Hours:</strong></label>
    <input type='number' ng-model='workHours' ng-change='doHoursCheck()'>
    <p ng-show='hoursWarning' style='color:red;'>
				Your entered work hours are too high<br>
				You have indicated you are planning to work {{enteredHours}} hours.<br>
				If you are an international student, you are allowed to work a maximum of 20 hours.<br>
				If you are not an international student, you are allowed to work a maximum of 25 hours.<br>
				To continue, please reduce the hours you are seeking with ASU
				or you will need to reduce your work hours with your current employer.
    </p>
  </fieldset> -->
  <form enctype='multipart/form-data'>
    <fieldset>
      <legend><span class="number">3</span>File Attachment (PDF Files Only)</legend>
			<label><strong>Resume:</strong></label>
      <input type="text" id="resume" ng-model='resumeInput'>
      <input type="file" name="rfile" id="resfile" ng-model='resumeFile' file-input='resumeFile' onchange="angular.element(this).scope().resumeFileNameChanged(this.files)" hidden/>
      <label class='myButton' for="resfile" id="inline-label">Choose File</label><br><br>
      <div ng-show='resumeUploadErrorMessage' style='color:red;'>{{resumeErrorMessage}}<br><br></div>
    </fieldset>
  </form>
  <center>{{saveMessage}}</center><br>
  <input ng-disabled='hoursWarning' type='button' ng-click='uploadResume(); saveEmployment(false)' value="Save"/>
  <input ng-disabled='hoursWarning' type='button' ng-click='uploadResume(); saveEmployment(true)' value="Save and Continue"/>
</div>
