<div class="container">
    <div ng-controller='studentChangePasswordController'>
        <header>
            <div class="primary_header">
                <h1 class="title" ng-model='name'>{{name}}</h1>
            </div>
            <nav class="secondary_header" id="menu">
                <ul>
                    <li><a href='' ng-show='displayHome()' ng-click='goHome()'>Home</a></li>
                    <li><a ng-href='#!/studentChangePassword'>Change Password</a></li>
                    <li class='dropdown' style='float:left;'>
                    <button class='dropbtn'>{{link}}</button>
                    <div class='dropdown-content' style="left:0;">
                        <a ng-href='#!/contactInfo'>Contact Info</a><br>
                        <a ng-href='#!/education'>Education</a><br>
                        <a ng-href='#!/employment'>Employment</a><br>
                        <a ng-href='#!/availability'>Availability</a><br>
                        <a ng-href='#!/languages'>Languages</a><br>
                        <a ng-href='#!/courses'>Courses</a>
                    </div>
                    </li>
                    <li><a ng-href='#!/helpList'>Help</a></li>
                    <li><a href='' ng-show='displayLogout()' ng-click='logout()'>Logout</a></li>
                </ul>
            </nav>  
        </header>  
        <div class="form-changePassword">
            <form>
                <fieldset>
                    <label><h1>Change Password</h1></label><br>
                    <div class="help">
                        <div><label style='margin-left: 10px;'>Current Password:</label><br><input type='password' ng-model='currentPassword' style='margin-left: 10px;'><br><br></div>
                        <label style='margin-left: 10px;'>New Password:<br></label><input type='password' ng-model='newPasswordOne' style='margin-left: 10px;'>
                        <img src="/assets/images/pwreq.png" alt="Req" style="width:20px;height:20px;" 
                        title='Password Requirements:
                        -8-20 Characters
                        -1 Lowercase Letter
                        -1 Uppercase Letter
                        -1 Special Character(#?!@$%^&*-)
                        -1 Number'/>
                        <br><br>
                        <label style='margin-left: 10px;'>Re-enter Password:<br></label><input type='password' ng-model='newPasswordTwo' style='margin-left: 10px;'><br><br>
                        <p style='margin-left: 10px; color:red;' ng-model='passwordErrorMessage' ng-show='passwordError' class='error'><br>{{passwordErrorMessage}}</p>
                        <p style='margin-left: 10px;' ng-model='passwordSuccessMessave' ng-show='passwordSuccess' class='error'><br>{{passwordSuccessMessage}}</p>
                        <input type='button' ng-click='changePassword()' value='Change Your Password' style='margin-left: 10px;'/>
                        <br>
                    </div>
                </fieldset>
            </form> 
        </div>
    </div>
</div>